name: Update rust dependencies

on:
  workflow_call:
    inputs:
      src-dir:
        type: string
        required: false
        default: src
        description: Path to rust source code
      cargo-chef:
        type: boolean
        required: false
        default: true
        description: Whether to update cargo-chef

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: orcalabs/github-actions/rust-setup@master
        with:
          cloudsmith-api-key: ${{ secrets.CLOUDSMITH_API_KEY }}
      # TODO: re-add if cargo-edit starts working again, currently fails with 401 unauthorized
      # - name: Install cargo-edit
      #   run: cargo install cargo-edit
      - name: Update dependencies
        run: |
          cd ${{ inputs.src-dir }}
          # cargo upgrade
          cargo update
      - name: Update cargo-chef
        if: ${{ inputs.cargo-chef }}
        run: |
          NEXT="https://registry.hub.docker.com/v2/repositories/lukemathwalker/cargo-chef/tags?page_size=100"
          while [ $NEXT != "null" ]
          do
              RES=$(eval "curl $NEXT")

              echo $RES | jq '.results' >> results.json

              NEXT=$(echo $RES | jq '.next')
          done

          cat results.json | jq -s 'add' > versions.json

          DEBIAN_VERSION=$(grep 'latest-rust-[0-9.]+-\w+' dockerfiles/ -RhoP | head -n 1 | grep -oP '\w+$')

          VERSION=$(cat versions.json | jq -r '.[].name' | sort --version-sort | grep "latest-rust-[0-9.]\+-$DEBIAN_VERSION" | tail -n 1)
          sed -i "s/latest-rust-[0-9.]\+-[a-z-]\+/$VERSION/" dockerfiles/**/*

          rm results.json versions.json
      - name: Check for changes
        id: status
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          else
            echo "changed=false" >> $GITHUB_OUTPUT
          fi
      - name: Create PR
        if: steps.status.outputs.changed == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.CI_PAT_TOKEN }}
        run: |
          git add .
          git checkout -b ${{ github.event.repository.name }}-${{ github.sha }}
          git config --local user.email github-actions@github.com
          git config --local user.name github-actions
          git commit -am "Update rust dependencies"
          git push -u origin HEAD
          gh pr create -B master -H ${{ github.event.repository.name }}-${{ github.sha }} --title 'Merge rust-dependencies-update' --body 'Created by Github action'
